*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.title {
    color: #f5a30c;
    font-size: 50px;
}

.button{
    background-color: orange;
    border: none;
}
.container{
    width: 50% !important;
   
}
#language{
    display: flex;
}
#population{
    display: none;
}
.progress {
    border-radius: inherit !important;
}
.about-text {
    justify-content: space-between;
}